<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="ERROR">
    <Properties>

        <Property name="LOG_PATTERN">%d %-5p %c: %m%n</Property>

        <Property name="LOG_DIR">logs</Property>

    </Properties>
    <Appenders>

        <!--<Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>-->

        <RollingRandomAccessFile append="true" fileName="${LOG_DIR}/hippodrome.log"
                                 filePattern = "${LOG_DIR}/hippodrome.%d{yyyy-MM-dd}.nr%i.log.gz" name="LogToFile">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath = "logs" maxDepth ="2">
                    <IfFileName glob ="hippodrome.*.log"/>
                    <IfLastModified age = "7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>